<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ida:AuthorityFormat" value="https://login.windows.net/{0}" />
    <add key="MgmtResource" value="https://management.azure.com/" />

    <add key="ida:TenantId" value="72f988bf-86f1-41af-91ab-2d7cd011db47"/>
    <add key="ida:ClientId" value="3dd94a0d-4b0b-4b80-93b6-b0cf711bf143" />
    <add key="ida:ClientSecret" value="+7q46P9{kr^.TK4-:G}k9mgc^.*-&amp;ObU$$z0&gt;-7t=ZP=4H)*D.[" />
    <add key="ida:ObjectId" value="25dd445a-bc19-4b19-b45e-e943d80bbd00" />
    <add key="ManagementGroupId" value="392F6F87-9744-4D8F-BB1E-1774E13F8515" />
    <add key="SubscriptionId" value="7f2ee00e-a72b-401c-9388-f2cdfd63c80c" />

<!--
    <add key="ida:TenantId" value="6e424d97-163d-46e9-a079-e66d12f36c6e"/>
    <add key="ida:ClientId" value="48826dc0-86e2-4e8c-bfa0-ae73d0464456" />
    <add key="ida:ClientSecret" value="XSRHBXiPGVf7Stsaeggjw5hgIF+9kJDXfX8vwaQujXI=" />
    <add key="ida:ObjectId" value="23121eeb-87a6-4ed1-b58b-4d9f249b8b1a" />
    <add key="ManagementGroupId" value="2AAFBE12-B07F-4026-B4D1-62DB898A11D3" />
    <add key="SubscriptionId" value="35dabef1-8ea0-45c3-ab92-45d8063dc8aa" />
-->

    <add key="ida:ReplyUrl" value="https://localhost" />
    <add key="BlueprintsDir" value="blueprints"/>
    <add key="AssignmentsDir" value="assignments"/>
    <add key="ADGraphSPFormat" value="https://graph.windows.net/{0}/servicePrincipals?api-version=1.6&amp;&#x24;filter=appId eq 'f71766dc-90d9-4b7d-bd9d-4499c4331c3f'"/>
    <add key="ADGraphSPFormat" value="https://graph.windows.net/{0}/servicePrincipals?api-version=1.6"/>
    <add key="ADGraphSPFormat" value="https://graph.microsoft.com/beta/servicePrincipals?$filter=appId eq 'f71766dc-90d9-4b7d-bd9d-4499c4331c3f'"/>
    <add key="ADGraphSPFormat" value="https://graph.microsoft.com/1.0/servicePrincipals?$filter=appId eq 'f71766dc-90d9-4b7d-bd9d-4499c4331c3f'"/>
    <!--<add key="ADGraphSPFormat" value="https://graph.microsoft.com/v1.0/servicePrincipals"/>-->

    <add key="GetUrlFormat" value="https://management.azure.com/providers/Microsoft.Management/managementGroups/{0}/providers/Microsoft.Blueprint/blueprints/{1}?api-version=2018-11-01-preview" />
    <add key="GetArtifactsUrlFormat" value="https://management.azure.com/providers/Microsoft.Management/managementGroups/{0}/providers/Microsoft.Blueprint/blueprints/{1}/artifacts?api-version=2018-11-01-preview"/>
    <add key="GetArtifactUrlFormat" value="https://management.azure.com/providers/Microsoft.Management/managementGroups/{0}/providers/Microsoft.Blueprint/blueprints/{1}/artifacts/{2}?api-version=2018-11-01-preview"/>
    <add key="CreateBlueprintUrlFormat" value="https://management.azure.com/providers/Microsoft.Management/managementGroups/{0}/providers/Microsoft.Blueprint/blueprints/{1}?api-version=2018-11-01-preview" />
    <add key="AddArtifactUrlFormat" value="https://management.azure.com/providers/Microsoft.Management/managementGroups/{0}/providers/Microsoft.Blueprint/blueprints/{1}/artifacts/{2}?api-version=2018-11-01-preview"/>
    <add key="PublishUrlFormat" value="https://management.azure.com/providers/Microsoft.Management/managementGroups/{0}/providers/Microsoft.Blueprint/blueprints/{1}/versions/{2}?api-version=2018-11-01-preview" />
    <add key="AssignUrlFormat" value="https://management.azure.com/subscriptions/{0}/providers/Microsoft.Blueprint/blueprintAssignments/{1}?api-version=2018-11-01-preview" />
    <add key="UnassignUrlFormat" value="https://management.azure.com/subscriptions/{0}/providers/Microsoft.Blueprint/blueprintAssignments/{1}?api-version=2018-11-01-preview" />
    <add key="DeleteUrlFormat" value="https://management.azure.com/providers/Microsoft.Management/managementGroups/{0}/providers/Microsoft.Blueprint/blueprints/{1}?api-version=2018-11-01-preview" />

    <add key="HelpDir" value="documentation"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.1.0" newVersion="4.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
